/* This file is for your main application css. */

/* @import './phoenix.css'; */

* {
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  background: #fafaf7;
}

input {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #00647b;
}

a {
  word-break: break-all;
}

p {
  margin: 0;
}

/* 
h1 {
  font-size: 4.6rem;
  line-height: 1.2;
  color: rgb(153, 153, 153);
}

h2 {
  color: rgb(153, 153, 153);
}

h3 {
  color: rgb(153, 153, 153);
}
span#display-name {
  margin-left: 50px;
}

nav li {
  float: left;
  margin-left: 30px;
}

section {
  height: 100%;
}

.row {
  height: 100%;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.box {
  padding: 20px 40px 20px 40px;
  max-width: 500px;
}

#decisions {
  padding: 20px 40px 20px 40px;

  max-width: 500px;
  height: 100%;
  border-right: 1px solid rgb(230, 230, 230);
}

#block {
  border-right: 1px solid rgb(230, 230, 230);
}

.input-group {
  display: flex;
  align-content: left;
  vertical-align: center;
}

#event-list {
  padding-left: 30px;
  padding-right: 30px;
}

.event {
  padding: 30px 0 0 30px;
  border-bottom: 1px solid rgba(255, 136, 0, 0.568);
}

.decision {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 136, 0, 0.568);
  max-width: 500px;
}

.decision-section {
  margin-right: 30px;
}

h3.decision-title {
  cursor: pointer;
}

.poll-option {
  padding: 5px;
}

.poll-option.selected {
  border: 1px solid rgb(230, 230, 230);
}

.votable {
  cursor: pointer;
}

.votable:hover {
  background-color: rgb(230, 230, 230);
}

#custom-option:hover {
  background-color: rgb(230, 230, 230);
} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 10px; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 6px;
}

/* Tooltip */
.__react_component_tooltip.show {
  background: #555 !important;
}

.__react_component_tooltip.place-left::after {
  border-left: 8px solid #555 !important;
}

.__react_component_tooltip.place-right::after {
  border-right: 8px solid #555 !important;
}

.__react_component_tooltip.place-top::after {
  border-top: 8px solid #555 !important;
}

.__react_component_tooltip.place-bottom::after {
  border-bottom: 8px solid #555 !important;
}
